<%- model_class = ProductSold -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= form_tag product_solds_path, :method => 'get', :class => 'form-search' do %>
  <p>
    <%= text_field_tag :date_from, params[:date_from], 
                        'data-behaviour' => 'datepicker',
                        :class => 'datepicker input-medium', 
                        'placeholder' => 'Date from'%>
    <%= text_field_tag :date_to, params[:date_to], 
                        'data-behaviour' => 'datepicker',
                        :class => 'datepicker input-medium', 
                        'placeholder' => 'Date to'%>
    <%= submit_tag "Search", :name => nil, :class => 'btn btn-primary' %>
  </p>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:product_id) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @product_solds.each do |product_sold| %>
      <tr>
        <td><%= product_sold.product.name %></td>
        <td><%= product_sold.price %></td>
        <td><%=l product_sold.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_sold_path,
            :class => 'btn btn-primary' %>
